# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.DS_Store
.ruff_cache

# JS
node_modules/
package-lock.json
coverage/

# misc
.coverage
coverage.xml

# Home Assistant configuration
config/*
!config/configuration.yaml